<% include partials/header %>

<div class="main">
    <div id="articles">
        <div class="articles_search">
            <form action="">
                <input type="text" placeholder="Procure um Artigo">
                <button><i class="fas fa-search"></i></button>
            </form>
            <div class="articles_index">
                
                <% list.forEach(element => { %>
                    <a href=""><%= list.indexOf(element) %></a>
                <% }) %>
                <!-- <% for (let i = 0; i < 31; i++) { %>
                    <% if ((i-1)%6 === 0) { %>
                        <% if (list[i]) { %>
                            <a href=""><%=((i-1)/6)+1%></a>
                        <% } %>
                    <% } %>
                    <% if ((i-1)%6 === 0) { %>
                        <a href=""><%=((i-1)/6)+1%></a>
                    <% } %>
                <% } %> -->
                        
            </div>
        </div>
        <div class="articles_container">
            <% list.forEach( element => { %>
                <div class="article_block">
                    <h2><%=element.title%></h2>
                    <div class="article_block_sub">
                        <p><%=authors[list.indexOf(element)].name.toUpperCase()%></p>
                        <p><%=dates[list.indexOf(element)]%></p>
                    </div>
                    <div class="article_block_image" style="background-image: url(<%=list[0].image%>);">
                    </div>
                    <section>
                        <h4>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique luctus tempor. Sed maximus non tellus nec sollicitudin. Duis id erat orci. Suspendisse potenti. Curabitur eu pulvinar mauris. Nam risus erat, lacinia sed porta eget, posuere ac lectus. Proin vitae feugiat purus, non accumsan massa. Ut in volutpat ex. Aliquam in nulla ac eros convallis vestibulum.
                        </h4>
                    </section>
                    <a href="">Leia Mais...</a>
                </div>
            <% }) %>
            <!-- <div class="article_block">
    
            </div>
            <div class="article_block">

            </div>            
            <div class="article_block">

            </div> -->
        </div>
    </div>
    <% include partials/footer %>
</div>

    
<script type="text/javascript" src="scriptHeader.js"></script>
<script type="text/javascript" src="scriptArticles.js"></script>
</body>
</html>