<% include partials/header %>
<style>
    .main {
        background-color: rgb(241, 241, 241);
    }
</style>
<div class="main">
    <div id="articles">
        <div class="articles_search">
            <form action="/articles" method="GET">
                <input type="text" name="page" value="<%=index%>" style="display: none;">
                <% if (name) { %>
                    <input type="text" name="name" value="<%=name%>">
                <% } else { %>        
                    <input type="text" name="name" placeholder="Procure um Artigo">
                <% } %>
                <button><i class="fas fa-search"></i></button>
            </form>
            <div class="articles_index">
                <% if(index > 3) { %>
                    <% if (name) { %>
                        <a href="http://localhost:3000/articles?page=<%= index %>&name=<%= name %>" style="background-color: gainsboro;">1</a>
                        <p>...</p>
                        <a href="http://localhost:3000/articles?page=<%= index-1 %>&name=<%= name %>" style="background-color: gainsboro;"><%= index-1 %></a>
                        <a href="http://localhost:3000/articles?page=<%= index %>&name=<%= name %>"><%= index %></a>
                        <% if(list.length > index*6){ %>
                            <a href="http://localhost:3000/articles?page=<%= index+1 %>&name=<%= name %>" style="background-color: gainsboro;"><%= index+1 %></a>
                        <% } %>
                    <% } else { %>
                        <a href="http://localhost:3000/articles?page=<%= index %>" style="background-color: gainsboro;">1</a>
                        <p>...</p>
                        <a href="http://localhost:3000/articles?page=<%= index-1 %>" style="background-color: gainsboro;"><%= index-1 %></a>
                        <a href="http://localhost:3000/articles?page=<%= index %>"><%= index %></a>
                        <% if(list.length > index*6){ %>
                            <a href="http://localhost:3000/articles?page=<%= index+1 %>" style="background-color: gainsboro;"><%= index+1 %></a>
                        <% } %>
                    <% } %>
                    <% if(list.length > (index*6)+6 ){ %>
                        <p>...</p>
                    <% } %>
                <% } else { %>
                    <% let link %>
                    <% for(let i = 1; i < 5; i++){ %>
                        <% if (name) { %>
                            <% link="http://localhost:3000/articles?page=" + i + "&name=" + name %>
                        <% } else { %>
                            <% link="http://localhost:3000/articles?page=" + i %>
                        <% } %>
                        <% if(index == i) { %>
                            <a href="<%=link%>"><%= i %></a>
                        <% } else { %>
                            <a href="<%=link%>" style="background-color: gainsboro;"><%= i %></a>
                        <% } %>
                    <% } %>
                    <% if (list.length > 24) { %>
                        <p>...</p>
                    <% } %>
                <% } %>
            </div>
        </div>
        <div class="articles_container">
            <% posts.forEach( element => { %>
                <div class="article_block">
                    <h2><%=element.title%></h2>
                    <div class="article_block_sub">
                        <p><%=authors[posts.indexOf(element)].name.toUpperCase()%></p>
                        <p><%=dates[posts.indexOf(element)]%></p>
                    </div>
                    <div class="article_block_image" style="background-image: url(../<%=posts[0].image%>);">
                    </div>
                    <section>
                        <h4>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique luctus tempor. Sed maximus non tellus nec sollicitudin. Duis id erat orci. Suspendisse potenti. Curabitur eu pulvinar mauris. Nam risus erat, lacinia sed porta eget, posuere ac lectus. Proin vitae feugiat purus, non accumsan massa. Ut in volutpat ex. Aliquam in nulla ac eros convallis vestibulum.
                        </h4>
                    </section>
                    <a href="">Leia Mais...</a>
                </div>
            <% }) %>
        </div>
    </div>
    <% include partials/footer %>
</div>

<script type="text/javascript" src="../scriptHeader.js"></script>
<script type="text/javascript" src="../scriptArticles.js"></script>
</body>
</html>