<% include partials/header %>

<div class="main">
    <div id="articles">
        <div class="articles_search">
            <form action="/articles" method="GET">    
                <input type="text" name="name" placeholder="Procure um Artigo">
                <button><i class="fas fa-search"></i></button>
            </form>
            <div class="articles_index">
                <% if(count !== 0) { %>
                    <% if(index === 1) { %>
                        <a href="articles?page=1&name=<%= name %>">1</a>
                        <% if(count > 6) { %>
                            <a href="articles?page=2&name=<%= name %>" style="background-color: rgb(194, 194, 194);">2</a>
                        <% } %>
                        <% if(count > 12) { %>
                            <a href="articles?page=3&name=<%= name %>" style="background-color: rgb(194, 194, 194);">3</a>
                        <% } %>
                        <% if(count > 18) { %>
                            <p style="margin: 0 6px 0 2px; opacity: 0.7;">...</p>
                            <a href="articles?page=<%=Math.ceil(count/6)%>&name=<%= name %>" style="background-color: rgb(194, 194, 194);"><%=Math.ceil(count/6)%></a>
                        <% } %>
                    <% } else if (index >= 2) { %>
                        <% if(index >= 3 && count <= 6*index) { %>
                            <% if(index === 3) { %>
                                <a href="articles?page=1&name=<%= name %>" style="background-color: rgb(194, 194, 194);">1</a>
                                <a href="articles?page=2&name=<%= name %>" style="background-color: rgb(194, 194, 194);">2</a>
                                <a href="articles?page=3&name=<%= name %>">3</a>                                
                            <% } else { %>
                                <a href="articles?page=1&name=<%= name %>" style="background-color: rgb(194, 194, 194);">1</a>
                                <p style="margin: 0 6px 0 2px; opacity: 0.7;">...</p>
                                <a href="articles?page=<%=index-1%>&name=<%= name %>" style="background-color: rgb(194, 194, 194);"><%=index-1%></a>
                                <a href="articles?page=<%=index%>&name=<%= name %>"><%=index%></a>
                            <% } %>
                        <% } else { %>
                            <% if(index > 2) { %>
                                <a href="articles?page=1&name=<%= name %>" style="background-color: rgb(194, 194, 194);">1</a>
                                <p style="margin: 0 6px 0 2px; opacity: 0.7;">...</p>
                            <% } %>
                            <a href="articles?page=<%=index-1%>&name=<%= name %>" style="background-color: rgb(194, 194, 194);"><%=index-1%></a>
                            <a href="articles?page=<%=index%>&name=<%= name %>"><%=index%></a>
                            <% if ( count >  index*6 ) { %>
                                <a href="articles?page=<%=index+1%>&name=<%= name %>" style="background-color: rgb(194, 194, 194);"><%=index+1%></a>
                            <% } %>
                            <% if ( count >  (index+1)*6 ) { %>
                                <p style="margin: 0 6px 0 2px; opacity: 0.7;">...</p>
                                <a href="articles?page=<%=Math.ceil(count/6)%>&name=<%= name %>" style="background-color: rgb(194, 194, 194);"><%=Math.ceil(count/6)%></a>
                            <% } %>
                        <% } %>
                    <% } %>    
                <% } %>
            </div>
        </div>
        <div class="articles_container">
            <% list.map( element => { %>
                <div class="article_block">
                    <a class="title" href="articles/<%=modifiedTitles[list.indexOf(element)]%>/<%=element.id%>"><%=element.title%></a>
                    <div class="article_block_sub">
                        <p><%=element.user.name.toUpperCase()%></p>
                        <p><%=dates[list.indexOf(element)]%></p>
                    </div>
                    <div class="article_block_image" style="background-image: url(uploads/<%=element.image%>);">
                    </div>
                    <section>
                        <h4>
                            <%=element.description%>
                        </h4>
                    </section>
                    <a class="readMore" href="articles/<%=modifiedTitles[list.indexOf(element)]%>/<%=element.id%>">Leia Mais...</a>
                </div>
            <% }) %>
        </div>
    </div>
    <% include partials/footer %>
</div>

<script type="text/javascript" src="/scripts/scriptHeader.js"></script>
<script type="text/javascript" src="/scripts/scriptArticles.js"></script>
</body>
</html>