<%include partials/header %>

    <div class="main">
        <div class="img-container">
            <main>
                <div class="container">
                    <h1>Aprenda inglês</h1>
                    <h2>de uma vez por todas</h2>
                    <p>Pouco tempo pra estudar? Não tem problema, estudando da maneira correta é possível alcançar a fluência!</p>
                    <a href="">EU QUERO</a>
                </div>
            </main>
            <section id="ebook">
                <div class="medias">
                    <div class="social-container">
                        <a href="http://www.facebook.com/" target="blank"> <i class="fab fa-facebook-square"></i> </a>
                        <a href="http://www.instagram.com/" target="blank"> <i class="fab fa-instagram"></i> </a>
                        <a href="http://www.youtube.com/" target="blank"> <i class="fab fa-youtube"></i> </a>
                    </div>
                </div>
            </section>
        </div>
        <div class="articles">
            <div class="title flex">
                <h2>Últimos Artigos</h2>
                <div class="line"></div>
            </div>
            <div class="slider flex">
                <i class="fas fa-chevron-left slider-btn-left"></i>
                <div class="slider-move">
                    <div class="slider-out" onclick="location.href='http://www.google.com'">
                        <div style="background-image: url(<%=list[0].image%>);"  class="img">
                        </div>
                        <div class="img-info">
                            <p><%=list[0].title%></p>
                            <p><%=authors[0].name%> - <%=dates[0]%></p>
                    </div>
                    </div>
                    <div class="slider-out" onclick="location.href='http://www.google.com'">
                        <div style="background-image: url(<%=list[0].image%>);"  class="img">
                        </div>
                        <div class="img-info">
                            <p><%=list[0].title%></p>
                            <p><%=authors[0].name%> - <%=dates[0]%></p>
                        </div>
                    </div>
                    <div class="slider-out" onclick="location.href='http://www.google.com'">
                        <div style="background-image: url(<%=list[0].image%>);"  class="img">
                        </div>
                        <div class="img-info">
                            <p><%=list[0].title%></p>
                            <p><%=authors[0].name%> - <%=dates[0]%></p>
                        </div>
                    </div>
                    <div class="slider-out" onclick="location.href='http://www.google.com'">
                        <div style="background-image: url(<%=list[0].image%>);"  class="img">
                        </div>
                        <div class="img-info">
                            <p><%=list[0].title%></p>
                            <p><%=authors[0].name%> - <%=dates[0]%></p>
                        </div>
                    </div>
                    <div class="slider-out" onclick="location.href='http://www.google.com'">
                        <div style="background-image: url(<%=list[0].image%>);"  class="img">
                        </div>
                        <div class="img-info">
                            <p><%=list[0].title%></p>
                            <p><%=authors[0].name%> - <%=dates[0]%></p>
                        </div>
                    </div>
                    <div class="slider-out" onclick="location.href='http://www.google.com'">
                        <div style="background-image: url(<%=list[0].image%>);"  class="img">
                        </div>
                        <div class="img-info">
                            <p><%=list[0].title%></p>
                            <p><%=authors[0].name%> - <%=dates[0]%></p>
                        </div>
                    </div>
                </div>
                <i class="fas fa-chevron-right slider-btn-right"></i>
            </div>
            <div class="slider-more">
                <a href="http://localhost:3000/articles?page=1">Ver mais</a>
            </div>
        </div>
        <div class="info flex">
            <div class="info-inside flex">
                <div class="info-one flex">
                    <i class="far fa-clock"></i>
                    <p>Estude a hora que quiser!</p>
                    <p>Nossos cursos ficam disponíveis 24h pro dia para você acessar de onde estiver</p>
                </div>
                <div class="info-one flex">
                    <i class="fas fa-microphone-alt"></i>
                    <p>Fluência de verdade</p>
                    <p>Não fique batendo a cabeça nos livros, com nosso método você pode alcançar a fluência</p>
                </div>
                <div class="info-one flex">
                    <i class="fas fa-pencil-alt"></i>
                    <p>Detone os maiores exames</p>
                    <p>Aqui o aluno sai preparado para realizar os mais conhecidos exames de inglês como o IELTS e o TOEFL</p>
                </div>
            </div>
        </div>
        <%include partials/footer %>
    </div>
    
    <script type="text/javascript" src="scriptHeader.js"></script>
    <script type="text/javascript" src="scriptMainPage.js"></script>
</body>
</html>