<% include partials/header %>

<div class="main">
    <div class="oneArticle">
        <div class="oneApart">
            <p>Siga a <b>EnglishMoon</b> nas redes sociais para estar por dentro de todo nosso conteúdo didático</p>
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
        </div>
        <div class="oneHeader">
            <h1><b><%=post.title%></b></h1>
            <p><%=post.user.name%> - <%=date%></p>
            <div class="oneHeader_image" >
                <img style="width: 100%;" src="/uploads/<%=post.image%>" alt="Capa do Artigo">
            </div>
        </div>
        <div class="oneBody">
            <%=post.body%>
        </div>
    </div>
    <% include partials/footer %>
</div>

<script>
    const corp = document.querySelector(".oneBody")
</script>
<script type="text/javascript" src="/scripts/scriptHeader.js"></script>
<script type="text/javascript" src="/scripts/scriptOneArticle.js"></script>
</body>
</html>