<% include partials/header %>

<div class="main">
    <div class="profile-shadow"></div>
    <div class="profile-delete-def">
        <i class="fas fa-times cancel-delete"></i>
        <div class="dlt-container">
            <h2>Informe sua senha</h2>
            <form action="/users?_method=DELETE" method="POST">
                <input id="delete-form-def" type="password" placeholder="senha">
                <button id="delete-btn-def">APAGAR CONTA</button>
            </form>
            <p id="dltErrorMsg"></p>
        </div>
    </div>
    <div class="profileMain">
        <div class="profileLeft">
            <div class="profileContainer">
                <a href="/profile/info" class="yourInfo">Suas Informações</a>
                <div class="info-active-bar"></div>
            </div>
            <div class="profileContainer">
                <a style="cursor:not-allowed;" class="paymentMethods">Métodos de Pagamento</a>
                <div class="info-active-bar"></div>
            </div>
            <div class="profileContainer">
                <a style="cursor:not-allowed;" class="buyHistory">Histórico de Compras</a>
                <div class="info-active-bar"></div>
            </div>
        </div>
        <div class="profileRight">
            <div class="profileRight-box">
                <div class="profileRight-box-left">
                    <div style="background-image: url(/uploads/<%=currentUser.photo%>);" class="box-photo">

                    </div>
                    <form id="photo-form" action="/users/photo?_method=PUT" method="POST" enctype="multipart/form-data">
                        <input style="display: none" name="CASE" value="@UPDATE/PHOTO" readonly>
                        <input id="file-select" type="file" name="img">
                        <label for="file-select"> <i class="fas fa-images"></i> Selecione uma Foto </label>
                        <p id="img-form-title"></p>
                    </form>
                    <% if (imgMessage) { %>
                        <h5><%=imgMessage%></h5>
                    <% } %>
                    <div class="btn-container">
                        <button id="imgBtn">Enviar</button>
                    </div>
                    <div class="deleteAcc">
                         <form id="delete-form" action="/users?_method=DELETE" method="POST">
                            <button id="delete-btn">DELETAR CONTA</button>
                         </form>
                     </div>
                </div>
                <div class="profileRight-box-right">
                    <form action="/users?_method=PUT" method="POST">
                        <input style="display: none" name="CASE" value="@UPDATE/ALL" readonly>
                        <div class="profile-container">
                            <p>NOME</p>
                            <span class="span-fields"><p><%=currentUser.name%></p><i class="edit fas fa-pencil-alt"></i></span>
                            <input class="editField" type="text" name="name" value="<%=currentUser.name%>" maxlength="45">
                        </div>
                        <div class="profile-container">
                            <p class="exception">SEXO</p>
                            <% if (currentUser.gender == "Male") { %>
                                <span class="span-fields"><p>Masculino</p><i class="edit fas fa-pencil-alt"></i></span>
                            <% } else { %>
                                <span class="span-fields"><p>Feminino</p><i class="edit fas fa-pencil-alt"></i></span>
                            <% } %>
                            <div class="sub-form">
                                <% if(currentUser.gender == "Male") { %>
                                    <input class="radio-input mg-left" type="radio" name="gender" value="Male" checked>
                                    <p>Masculino</p>
                                    <input class="radio-input" type="radio" name="gender" value="Female">
                                    <p>Feminino</p>
                                <% } else { %>
                                    <input class="radio-input mg-left" type="radio" name="gender" value="Male">
                                    <p>Masculino</p>
                                    <input class="radio-input" type="radio" name="gender" value="Female" checked>
                                    <p>Feminino</p>
                                <% } %>
                            </div>
                        </div>
                        <div class="profile-container">
                            <p>TELEFONE</p>
                            <span class="span-fields"><p><%=currentUser.telephone%></p><i class="edit fas fa-pencil-alt"></i></span>
                            <input class="editField" type="text" name="telephone" maxlength="14" value="<%=currentUser.telephone%>">
                        </div>
                        <div class="profile-container">
                            <p>NASCIMENTO</p>
                            <span class="span-fields"><p><%=currentUser.birthday%></p><i class="edit fas fa-pencil-alt"></i></span>
                            <input class="editField" type="text" name="birthday" maxlength="10" value="<%=currentUser.birthday%>">
                        </div>
                        <div class="profile-container">
                            <p>E-MAIL</p>
                            <span class="span-fields"><p><%=currentUser.email%></p></span>
                            <input type="text" name="email" value="<%=currentUser.email%>">
                        </div>
                        <div class="profile-container">
                            <a href="/profile/password">MUDAR SENHA</a>
                        </div>
                        <div class="button-wrapper">
                            <button>SALVAR MUDANÇAS</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%include partials/footer %>
</div>

<script type="text/javascript" src="/scripts/scriptHeader.js"></script>
<script type="text/javascript" src="/scripts/scriptProfileOne.js"></script>
</body>
</html>